.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 60px;
    margin-top: 100px;
}
.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.footer-content-left, .footer-content-center, .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-content-left .logo {
    margin-bottom: 20px;
}
.footer-content-left .footer-content-socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.footer-content-left .footer-content-socials img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.footer-content-left p, .footer-content ul li {
    font-size: max(1.2vw, 14px);
    color: #bfbfbf;
}
.footer-content-left p{
    line-height: 1.6;
    width: 80%;
}
.footer-content h2 {
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-content ul li {
    cursor: pointer;
}
.footer hr {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 20px 0;
    border: none;
}
.footer-copyright {
    font-size: max(1.2vw, 12px);
    color: #bfbfbf;
}
@media(max-width: 750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}