.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu-text{
    font-size: 1vw;
    max-width: 50%;
}
.explore-menu .explore-menu-list{
    display: flex;
    gap: 38px;
    overflow-x: auto;
}
.explore-menu-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.explore-menu-list-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.explore-menu-list-item p {
    color: #49494e;
}
.explore-menu hr {
    border: 1px solid #E4E4E7;
    margin-top: 20px;
    margin-bottom: 20px;
}
.explore-menu-list-item .active{
    border: 4px solid tomato
}
@media (max-width: 1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}