.header{
    height: 34vw;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.header .header-content{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2 {
    font-size: max(4.5vw, 18px);
    font-weight: 500;
}
.header-content p {
    font-size: 1vw;
}
.header-content button {
    padding: 1vw 2.3vw;
    font-size: max(1vw 13px);
    font-weight: 500;
    border: none;
    border-radius: 50px;
    color: #747474;
    cursor: pointer;
}
@media (max-width: 1050px) {
    .header-content{
        max-width: 45%;
    }
}
@media (max-width: 750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }

}


