.login{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.login img{
    width: 16px;
    cursor: pointer;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input{
    padding: 10px;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.login button{
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
.login-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-condition input{
    margin-top: 5px;
}
.login p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}